---
import NavItem from "./NavItem.astro";
import { navigationPaths } from "./navigation.config.ts";
---

<div
  class="hidden md:flex space-x-8 text-sm font-medium tracking-wide text-muted"
>
  {
    navigationPaths.map((item) => (
      <NavItem href={item.href} label={item.label} />
    ))
  }
</div>
