---
import DesktopAnchor from "./DesktopAnchor.astro";

const NavItems = [
  { href: "#inicio", label: "Inicio" },
  { href: "#habilidades", label: "Habilidades" },
  { href: "#experiencia", label: "Experiencia" },
  { href: "#proyectos", label: "Proyectos" },
  { href: "#estudios", label: "Estudios" },
  { href: "#contacto", label: "Contacto" },
];
---

<div
  class="hidden md:flex space-x-8 text-sm font-medium tracking-wide text-stone-500"
>
  {
    NavItems.map((item) => (
      <DesktopAnchor href={item.href} label={item.label} />
    ))
  }
</div>
