---
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/starwind/card";

const { period, career, institution } = Astro.props;
---

<Card
  class="glass-card hover-card border border-[#ededed99] transition-colors ease-in-out duration-300 hover:border-primary/30"
>
  <CardHeader>
    <div class="text-sm text-primary font-mono mb-2">{period}</div>
    <CardTitle> {career} </CardTitle>
    <CardDescription> {institution} </CardDescription>
  </CardHeader>
</Card>
