---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="text-muted hover:text-primary transition transform hover:-translate-y-1"
>
  <slot />
</a>
