---
import Navbar from "@/components/navigation/Navbar.astro";
import "@/styles/global.css";
import "@/styles/starwind.css";
import "@fontsource-variable/geist";
import "glightbox/dist/css/glightbox.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body class="selection:bg-orange-500 selection:text-white overflow-x-hidden">
    <Navbar />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
  }
</style>
